input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a{
  position: absolute;
  width: 100%;
  color : inherit;
  text-decoration: none;
  text-align: center;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
}



/*********************************************************************************상자 속성 시작*/
body {
  padding : 0;
  margin : 0;
  max-width: 2560px;
  min-width : 1280px;
  overflow : scroll;
  background-color: #eeeeee;
}

#container{
  position: relative;
  width : 100%;
  padding-top: 50%;
  margin: 0;
}

#nav_container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width:20%;
  height:100%;
}

#navigation{
  position: absolute;
  width : 95%;
  height: 97.5%;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  background-color : #f5f5f5;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

#out_container{
  position: absolute;
  top: 10%;
  left: 20%;
  bottom: 0;
  right: 0;
  width : 80%;
  height: 90%;
}

#data_output {
  position: absolute;
  width: 99%;
  height: 97%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color : #f5f5f5;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
#in_container{
  position: absolute;
  top: 0%;
  left: 20%;
  bottom: 0;
  right: 0;
  width : 80%;
  height: 10%;
}

#data_input{
  position: absolute;
  width : 99%;
  height: 75%;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  background-color : #f5f5f5;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
/*********************************************************************************상자 속성 종료*/



/*********************************************************************************네비게이션 시작*/
.form_logo {
  position: absolute;
  width: 80%;
  height: 20%;
  margin : 0;
  top : 10%;
  left : 50%;
  transform: translate(-50%, -50%);
}

#logo {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.form_member {
  position: absolute;
  margin : 0;
  width : 100%;
  height : 5%;
  top : 22.5%;
  left : 50%;
  transform: translate(-50%, -50%);

  color: blue;
  text-align: center;
}

.form_nav_box_set{
  position: absolute;
  width : 90%;
  height : 60%;
  top : 60%;
  left : 50%;
  transform: translate(-50%, -50%);
  margin : 0;
}

.form_nav_box{
  position: absolute;
  width : 100%;
  left : 50%;
  transform: translate(-50%, 0);
  padding : 0;
  border: 0px;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: larger;


  cursor: pointer;
}

.form_submit_button {
  background-color: black;
  height : 15%;
  top : 0%;
}

.form_nav_box2{
  background-color: gray;
  color: white;
  top : 25%;
  height : 15%;
}

.form_nav_box3{
  background-color: gray;
  color: white;
  top : 43%;
  height : 15%;
}

.menu_item {
  position: absolute;
  width : 80%;
  height : 5%;

  top : 97.5%;
  left : 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  border : none;
  background-color: inherit;
  cursor: pointer;
}
/*********************************************************************************네비게이션 종료*/



/*********************************************************************************데이터 출력 시작*/
.tb_main{
  width:100%;
  border-color: #9cacff;
}

.date_class {
  width: 12%;
}

.io_class {
  width: 9%;
}

.div1_class{
  width: 9%;
}

.div2_class{
  width: 9%;
}
.money_class {
  width: 12%;
}

.memo_class {
  width: 38%;
}

.del_class{
  width: 8%;
}


.Delete_item{
  background-color: #bbbbbb;
  border : 0;
  width: 80%;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}


.td_main{
  background-color: #9cacff;
  text-align: center;
}
/*********************************************************************************데이터 출력 종료*/



/*********************************************************************************데이터 입력 시작*/


.form_result_name {
  color: black;
  font-size: 15pt;
}

.inputbox {
  position: absolute;
  padding : 0;
  border: white;
  border-bottom: 2px solid #e5e8eb;
  background-color: white;
  outline: 0;
  font-size: 1em;
  text-align: center;
  transition: border-color .15s linear;
  height : 60%;
  top : 50%;
  transform: translate(0, -50%);


  cursor: pointer;
  vertical-align:middle;
  line-height: 60%;

}

.inputbox:focus {
  border-bottom:2px solid blue;
  outline: none;
  transition: border-color .2s linear;
}
.inputbox2{
  height: 65%;
}

#year{
  left: 0.5%;
  width: 7%;
}
#month{
  left: 8%;
  width: 7%;
}
#day{
  left: 15.5%;
  width: 7%;
}
#first{
  left: 24%;
  width: 7%;
}
#second{
  left: 31.5%;
  width: 7%;
}
#third{
  left: 39%;
  width: 7%;
}
#money{
  left: 47.5%;
  width: 10%;
}
#memo{
  left: 59%;
  width: 30%;
}
#sumitbutton{
  background-color: #9cacff;
  border-radius: 3px;
  height : 70%;
  left: 90.5%;
  width : 8%;
}
/*********************************************************************************데이터 입력 종료*/


