input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body{
    position: absolute;
    width : 100%;
    min-height : 100%;
    margin:0;
	overflow-y: scroll;
	background-image : url(../img/background.png);
	backdrop-filter: blur(15px);
}

#로고박스{
    text-align: center;
}

li{
    list-style-type: none;
}

.경고{
    height : 20px;
    padding-bottom:10px;
    font-size : 9pt;
    color : red;

}

#외부박스{
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:block;
    border : none;
    width : 450px;
    height : 750px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
	background-color: white;
	border-radius: 7px;
}

#항목박스{
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    padding:0;
    margin: auto;
}

.title{
    margin : auto;
    padding-bottom:10px;   
}

input{
    width: 98%;
	height: 30px;
    margin : auto;
    border : white;
    border-bottom-style: solid;
    border-bottom-color: #e5e8eb;
    border-bottom-width: 3px;
    outline : none;
    font-size: 12pt;
}

input:focus{
    border-bottom:3px solid blue;
	outline: none;
	transition: border-color .2s linear;
}

.input_pn, .input_pn0{
    margin : auto;
    width: 120px;
    height: 30px;
    border : #E2E2E2;
    border-bottom-style: solid;
    border-bottom-color:  black;
    border-bottom-width: 1px;
    text-align: center;
    font-size: 15px;
}

.input_pn0{
    width: 80px;
}

.sigh_minus{
    font-size:20px;
    font-weight: bold;
}

#submit_button{
    cursor: pointer;
    width: 100%;
	height: 44px;
    margin-top:10px;
	background-color: black;
	border: 1px;
	border-radius: 3px;
	color: white;
	font-size: 17px;
    font-weight: bold;
}
#nametitle, #idtitle, #passwordtitle, #passwordchecktitle, #phonetitle{
    color: red;
    font-size: 10pt;
    margin-top: 0;
}